:root {
  --background: #f2f2f2;
  --primary: #2d5273;
  --accent: #736346;
  --text: #262626;

  --background-100: #f2f2f273;
  --background-200: #f2f2f2ea;
  --bg-200: #e8e8e8;
  --bg-300: #a4a5a6;
  --primary-200: #5c7ea2;
  --primary-300: #bddfff;
  --accent-200: #fff3d1;
  --accent-300: #4e4e4e;

  --mogno: #661204;
  --cerejeira: #bd8e4e;
  --nogueira: #553129;
  --branco: #fefefe;

  --gradient: linear-gradient(
    180deg,
    rgba(242, 242, 242, 0.192) 0%,
    rgba(173, 189, 205, 0.217) 50%,
    rgba(92, 126, 162, 0.639) 100%,
    rgba(45, 82, 115, 0.874562324929972) 100%
  );

  --gradientFinal: linear-gradient(
    180deg,
    #f2f2f2 20%,
    rgba(165, 193, 220, 0.746) 100%
  );
}

/* =============================== */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  font-family: Segoe, Verdana, sans-serif;
  color: var(--text);
}

#container {
  width: 100%; /* fixo: 720px */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background);
  /* uma hora para de diminuir */
  min-width: 720px;
  /* uma hora para de esticar */
  /* max-width: 960px; */
  min-height: 100vh;
}

#topo {
  width: 95%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom: solid 2px var(--primary);
  padding-bottom: 1em;
  border-radius: 0.2em;
  background: var(--background);
  z-index: 999; /* Define uma camada acima dos outros elementos */
}

#logo {
  width: 60%;
  font-size: 1.7em;
  align-items: center;
  margin-left: 0.5em;
}
#logo h1 {
  color: var(--primary);
}

#navegacao {
  margin-right: 1em;
  width: 40%;
}

#navegacao ul {
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 0.8em;
  justify-content: space-around;
}
#navegacao li {
  display: flex;
  height: 4em;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#navegacao li:hover {
  border-bottom: 1px solid var(--primary-200);
  background: var(--gradient);
  border-radius: 10%;
}

#navegacao li a {
  text-decoration: none;
  color: var(--primary);
  font-size: 18px;
  padding: 1.6em 1.2em;
  width: 100%;
  margin-top: 0.5em;
}

#navegacao li a:hover {
  color: var(--background);
}

#home,
#produtos,
#contato,
#sobre {
  width: 100%;
  height: 100vh;
  padding-top: 3.5em;
  display: flex;
  flex-direction: column;
}

#home {
  background: var(--gradientFinal);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  color: var(--bg-200);
  justify-content: center;
  align-items: center;
  /* background-image: url('./assets/images/v880-techi-02-a.jpg'); */
}

#home h4 {
  color: var(--text);
  text-align: center;
  font-size: 3em;
  font-weight: lighter;
  margin-left: 2em;
  transition: 1s;
  animation-name: textAnimate2;
  animation-duration: 3s;

  animation-timing-function: ease-in-out;
}
#home h4 span {
  color: var(--primary);
}
#home h3 {
  color: var(--text);
  text-align: center;
  font-size: 3em;
  font-weight: lighter;
  margin-right: 2em;
  transition: 2s;
  animation-name: textAnimate;
  animation-duration: 3s;

  animation-timing-function: ease-in-out;
}
#home h3 span {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--primary);
  font-style: normal;
}

/* ======
animação da home
====== */

@keyframes textAnimate {
  0% {
    margin-right: 5.4em;
  }
  50% {
    margin-right: 1.5em;
  }
  100% {
  }
}
@keyframes textAnimate2 {
  0% {
    margin-left: 5.4em;
  }
  50% {
    margin-left: 1.5em;
  }
  100% {
  }
}

/* SOBRE  */

#sobre {
  background: var(--background) url("./assets/images/img2.jpg");
  background-attachment: fixed;
}
#sobre #conteudo {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#sobre #conteudo div {
  display: flex;
  width: 100%;
  position: relative;
}
#sobre #conteudo h1 {
  color: var(--primary);
  position: relative;
  top: -3.5em;
  font-size: 35px;
}
#sobre #conteudo p {
  text-align: justify;
  width: 40%;
  max-height: 9rem;
  font-size: 18px;
  padding: 1em 1.2em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.7s;
}

#sobre #conteudo p:hover {
  background: rgba(255, 255, 255, 0.5);
  color: var(--primary);
}
#sobre #conteudo .pL {
  position: relative;
  left: -1em;
  top: -4rem;
}
#sobre #conteudo .pR {
  position: relative;
  right: -8em;
  top: 2rem;
}

/* ======
contato
====== */

#contato #area {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contato #area ul li {
  padding: 0.5em;
  margin-bottom: 0.1em;
  color: #000;
}
#contato #area li span {
  margin-right: 0.5em;
  color: var(--primary);
}
#contato #area li i {
  margin-right: 0.5em;
}

#area p {
  width: 60%;
  text-align: center;
  margin-bottom: 1em;
  font-size: 18px;
  animation: textAnimateColor 5s linear infinite;
  transition: 1s;
}

/* 
--------------------------------------------
SCROLL BAR
-------------------------------------------- 
*/
body::-webkit-scrollbar {
  width: 0.4em; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: var(--bg-200); /* color of the tracking area */
  border-radius: 5em;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5em;
  background-color: var(--primary-200); /* color of the scroll thumb */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ///////////////////////// */

#area .ball {
  position: absolute;
  top: 95.5em;
  left: 44em;
  width: 0.7em;
  height: 0.7em;
  background-color: var(--primary);
  border-radius: 5em;
  content: " ";
  animation: bounce 5s linear infinite;
}

@keyframes bounce {
  0% {
    opacity: 1;
    transform: translateY(-10px);
  }

  24% {
    opacity: 1;
  }

  40% {
    transform: translateY(-8px);
  }

  65% {
    transform: translateY(-6px);
  }

  82% {
    transform: translateY(-3px);
  }

  93% {
    transform: translateY(-2px);
  }

  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.42);
  }

  100% {
    opacity: 1;

    transform: translateY(-10px);
  }
}

@keyframes textAnimateColor {
  0%,
  100% {
    color: var(--text);
  }
  50% {
    color: var(--primary);
  }
}

#produtos {
  background: var(--gradientFinal);
}

#produtos #area {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#produtos #area h1 {
  font-size: 35px;
  color: var(--primary);
  margin: 0em 0em 0.5em 0;
}
#area .card {
  padding: 1em 2em;
  width: 80%;
  min-height: 6em;
  height: auto;
  border: 1px solid red;
  text-align: left;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#area .card:hover {
  background: rgba(255, 255, 255, 0.5);
}

#area .colors {
  width: auto;
  display: flex;
  margin-bottom: 0.2em;
}
#area .colors .color {
  width: 1em;
  height: 1em;
  border-radius: 0.2em;
  content: " ";
  margin: 0.3em 0.2em;
  cursor: pointer;
}

#op1 {
  background-color: var(--branco);
}
#op2 {
  background-color: var(--mogno);
}
#op3 {
  background-color: var(--nogueira);
}
#op4 {
  background-color: var(--cerejeira);
}

.cor_selected {
  border: 2px solid var(--primary);
}

.img-product {
  transition: 0.5s;
  margin: 0 auto;
}
.img-product:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* formatação de textos no card  */

#produtos .card .info span {
  font-size: 12px;
  color: var(--text);
}
#produtos .card .info p {
  font-size: 15px;
  width: 80%;
  text-align: justify;
  margin-top: 0.1em;
}
#produtos .card .info h3 {
  font-size: 22px;
}

#produtos .card .infoExtra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.infoExtra .extra {
}

/* 
--------------------------------------------
FONTES 
-------------------------------------------- 
*/

@font-face {
  font-family: Segoe;
  src: url(./assets/fonts/SegoeUI.woff);
}

/* 
--------------------------------------------
rodapé
-------------------------------------------- 
*/

div #rodape {
  background: var(--primary);
  padding: 0.5em 0;
  width: 100%;
}

#conteudo-rodape {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-contato,
.redes-sociais {
  text-align: justify;
  padding: 0 1.5em;
  font-size: 16px;
}

.info-contato h3,
.redes-sociais h3 {
  color: var(--primary);
  margin-bottom: 0.5em;
}

.info-contato ul,
.redes-sociais ul {
  list-style: none;
  padding: 0;
}

.info-contato ul li,
.redes-sociais ul li {
  margin-bottom: 0.5em;
  color: var(--branco);
}

.info-contato ul li i,
.redes-sociais ul li i {
  margin-right: 0.5em;
}

.redes-sociais ul li a {
  color: var(--branco);
}

.redes-sociais ul li a:hover {
  color: var(--primary-300);
}
.info-contato ul li:hover {
  color: var(--primary-300);
  cursor: pointer;
}

.direitos {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.direitos p {
  color: var(--branco);
  font-size: 15px;
  font-weight: bold;
}
